<footer>
<style>
  #map { 
    height: 450px; 
    width:100%;
    border-top: 3px solid #444;
border-bottom: 3px solid #444;
 }
</style>
<div class="subscribebox">

    <section class=" section-content container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
 <h2 style="font-size:50px;text-align: center; margin-bottom: 0;" class="post-title">JOIN THE COMMUNITY</h2>
<p style="text-align: center;">Sign up to receive a monthly digest, we don't spam!</p>
<div class="subscribe-form">
<form class="subscription">
<input type="email" required placeholder="Your email" class="subscribeinput" /><input class="subscribebutton" type="submit" value="Subscribe" />
</form>
</div>
</div>
</div>
</div>
</section>

<div id='map'></div>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<script>
// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoidGhpbmtpbmdyZW1vdGUiLCJhIjoiWU1oM2pMZyJ9.OUIS7Hca0kPJN1JF0v6G-A';
// Create a map in the div #map
L.mapbox.map('map', 'thinkingremote.kagnj38p',{
  minZoom: 2,
  maxZoom: 4,
  worldCopyJump: true
}).setView([40, -74.50], 2);
</script>

    <section class="header top-header ss-style-zigzag">
    <br />
<br />
</section>
    <section class=" section-content container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
 <h2 style="font-size:50px;text-align: center;" class="post-title">Privacy</h2>


  <article class="post-content">
<p>We take privacy very seriously, and as we expand our feature set here at Thinking Remote, we will do so in good fath. We won't sell any data, and we won't expose any personally identifiable information unless you explicitly want us to.</p>
<br />
<br />
<br />
<br />
<br />
        <div style="clear: both;"></div>
  </article>
        <div style="clear: both;"></div>

</div>
</div>
</section>
<div class="foot">
	<div class=" container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="position: relative;">
				Code on <a href="https://github.com/thinkingremote/thinkingremote.com" style="color: #ccc;">Github</a> | ©Thinking Remote 2014
			</div>
		</div>
  </div>
	</div>

</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script type="text/javascript">
$('.subscription').on('submit', function () {
  $('.subscribeinput').animate({
    width: "0px",
    "padding-left": "0px",
    "padding-right": "0px"
  }, 200, function() {
    // Animation complete.
    $('.subscribeinput').remove();
    $('.subscribebutton').css({
      "background": "#444",
      "color": "#fff"
    }).val('Thank you!').attr('disabled', 'disabled');
    $.ajax({
    type: 'POST',
    url: 'http://api.thinkingremote.com/api/v1/users',
    crossDomain: true,
    data: JSON.stringify({"email":"thomas@gmsssail.aaa"}),
    dataType: 'json',
    contentType: 'application/json',
    success: function(responseData, textStatus, jqXHR) {
        var value = responseData.someKey;
    },
    error: function (responseData, textStatus, errorThrown) {
    }
});
  });
  return false;
})
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thomasdavis" async="async"></script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100791620); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100791620ns.gif" /></p></noscript>