    
    <section class="header top-header ss-style-zigzag">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="position: relative;">
          <div class="menu">
    <a class="site-title" href="{{ site.baseurl }}/">Home</a>
    <a class="site-title" href="/about">About</a>
    <a class="site-title" href="https://twitter.com/thinkingremote">Twitter</a>
  </div>
  <h1 class="logo">Thinking Remote</h1>
  <p class="byline">ThinkingRemote is a place to learn and share information about working remotely</p>



      <!--
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      -->

</div>
</div>
</div>
</section>