    
    <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="position: relative;">
  <h1 class="logo">Thinking Remote</h1>
  <ul class="menu">
    <li><a class="site-title" href="{{ site.baseurl }}/">Home</a></li>
    <li><a class="site-title" href="/about">About</a></li>
  </ul>


      <!--
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      -->

</div>
</div>
</div>
</div>