html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  padding-bottom: 5em;
}
footer, .push {
  height: 4em;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
   background-color:#fff;
}
.container {
  width: 1080px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
article {
}
p {
  font-size: 22px;
  color: #222;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.159999996423721px;
  line-height: 34px;
  margin: auto;
  margin-bottom: 30px;
  visibility: visible;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

footer {
  text-align: right;
  padding: 20px 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  padding-top: 24px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.logo {
  margin-bottom: 0px;
}
.byline {
  margin: 0 0 10px 0;
  text-align: justify;
}
.menu li {
  float: left;
  margin-left: 15px;

}
.menu li a {
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu li a:hover {
  color: #444;
  text-transform: uppercase;
}
.header {
  background: #f0f0f0;
  padding-bottom: 20px;
  padding-top: 10px;
}

footer {
  background: #f0f0f0;
  
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.list a {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.159999996423721px;
  color: #333;
}
.list a:hover {
  text-decoration: none;
  color: #777;
}

h2 { 
  font-size: 32px;
}